:root {
    --color-pri: #353b48;
    --color-sec: #a8aab0;
    --color-dark: #000;
    --color-white: #fff;
    --base-fontsize: 1rem;
 }
 
 @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 a:link,
 a:visited {
    text-decoration: none;
    color: var(--color-pri);
 }
 
 ul {
    list-style: none;
 }
 
 body {
    font-family: "Edu AU VIC WA NT Guides";
    font-optical-sizing: auto;
    background-color: var(--color-pri);
    color: var(--color-white);
 }
 
 .outerSection {
    padding: 3.125rem 0;
 }
 
 .outerSection .heading {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-transform: capitalize;
 }
 
 .container {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
 }
 
 .navbar1,
 .navbar2 {
    background-color: var(--color-sec);
    display: flex;
 }
 
 .navbar1 li,
 .navbar2 li {
    flex-grow: 1;
 }
 
 .navbar1 li a {
    display: block;
    text-align: center;
    padding: 1.25rem;
    text-transform: capitalize;
    font-size: var(--base-fontsize);
    color: var(--color-pri);
    transition: all 0.4s ease-in-out;
 }
 
 .navbar1 li a:is(:hover, :active, :focus),
 .navbar2 li a:is(:hover, :active, :focus) {
    background-color: var(--color-white);
    color: var(--color-dark);
 }
 
 .menuToggle,
 .menuToggle1 {
    display: none;
 }
 
 .navbar2 li a {
    display: flex;
    padding: 1.25rem;
    text-transform: capitalize;
    color: var(--color-pri);
    align-items: center;
    transition: all 0.4s ease-in-out;
 }
 
 .icon {
    width: 70px;
    text-align: center;
    align-self: center;
 }
 
 .icon i {
    font-size: 3rem;
 }
 
 .info {
    flex-grow: 1;
 }
 
 .info h4 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
 }
 
 @media all and (max-width: 768px) {
    .navbar1,
    .navbar2 {
       flex-direction: column;
       display: none;
    }
 
    .navbar1.active,
    .navbar2.active {
       display: flex;
    }
 
    .simple_Menu,
    .adv_Menu {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
 
    .outerSection .heading {
       margin-bottom: 0;
    }
 
    .menuToggle,
    .menuToggle1 {
       display: block;
       cursor: pointer;
    }
 }